<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Exchange rates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${exchangerateList}" class="container my-5">
           
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Month1</th>
                                  <th> Month2</th>
                                    <th> Month3</th>
                                      <th> Month4</th>
                                        <th> Month5</th>
                                          <th> Month6</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exchangerateBean : ${exchangerateList}">
                                <td th:text="${exchangerateBean.currency}"></td>
                               <td th:text="${exchangerateBean.exchangerate}"></td>
                                <td th:text="${exchangerateBean.exchangerate1}"></td>
                                 <td th:text="${exchangerateBean.exchangerate2}"></td>
                                  <td th:text="${exchangerateBean.exchangerate3}"></td>
                                   <td th:text="${exchangerateBean.exchangerate4}"></td>
                                    <td th:text="${exchangerateBean.exchangerate5}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
 
</html>